<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddItem2</servlet-name>
        <servlet-class>myprojectdb.AddItem2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemp</servlet-name>
        <servlet-class>myprojectdb.AddItemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem21</servlet-name>
        <servlet-class>AddItem21</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addwishlist</servlet-name>
        <servlet-class>addwishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buy</servlet-name>
        <servlet-class>buy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItem2</servlet-name>
        <url-pattern>/AddItem2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemp</servlet-name>
        <url-pattern>/AddItemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem21</servlet-name>
        <url-pattern>/AddItem21</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addwishlist</servlet-name>
        <url-pattern>/addwishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buy</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
