body
{
	/*background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.3)),url(images/background-1.jpg); */
	overflow:auto;
}
#nav {
			position:absolute;
			background:transparent;
			left:30%;
			}
#nav > ul{
				list-style:none;
				margin:0px;
				padding:0;
			}
#nav >ul li {
				display:inline;
}
#nav >ul li a {
				text-decoration:none;
				display:block;
				width:150px;
				font-size:25px;
				padding:3px;
				color:#000080;
				margin:5px;
				font-weight:600;
				text-align:right;
				}
				
#nav ul li a:hover
{
	text-decoration:underline;
	/*background-color:white;
	color:blue;*/
	font-size:30px;
	/**/
}
#nav ul li
{	display:inline;
	float:left;
}

#nav ul li ul
{
	position:absolute;
	z-index:1000;
	display:none;
}
#nav ul li ul li
{
	display:block;
	float:none;
}
#nav ul li:hover ul
{
	display:block;
}
h1
{
position:absolute;
top:100px;
left:150px;
font-family:arial;
font-size:50px;
font-weight:700px;
color:#000080;
text-shadow:2px 2px 3px #FFA500;
}
.logo
{
	position:absolute;
	z-index:100;
	top:15px;
	left:2%;
}
#about
{
	height:220px;
	width:82%;
	position:absolute;
	left:110px;
	/*border-style:solid;
	border-color:black;
	border-width:1px;*/
	top:100%;
	border-radius:15px;
	box-shadow:5px 5px #483D8B;
	background-color:white
}
h2
{
text-align:center;
font-family:arial;
font-weight:600px;
font-size:30px;
color:#483D8B;
}
p
{
	font-size:20px;
	color:black;
	font-weight:100px;
	text-align:justify;
	position:absolute;
	left:10px;
	right:10px;
	background-color:white;
	top:50px;
}
